<% provide(:title, 'Coming soon') %>
<section class="coming_soon">
<h1>Coming soon</h1>
<p>
  Imagine you're doing a penetration test over your latest web application and
  you want to insert all issues found to give a nice risk report full of fancy
  graphics.
</p>
<p>
  Imagine you want to add vulnerabilities found over servers powering your web
  application and coming from your internal vulnerability assessment tool. The
  risk exposure you will give your boss it will have also information from
  server's specific issues.
</p>
<p>
  Imagine also you have web application source code review. You eventually want
  to add such kind of issues into your report.
</p>
<p>
  Vulnerability Central is the place you can leverage your web assets risk by
  gathering security vulnerabilities from many sources each of them needs a
  specific mitigation carried out by a specific team.
</p>
<p>For infos ask to <a href="mailto:paolo@codesake.com">paolo@codesake.com</a></p>
</section>
