<header class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "vulnerability central", '#', id: "logo", :class=>"navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home",    '#' %></li>
        <li class="disabled"><%= link_to "Sign in", '#' %></li>
      </ul>
    </div>
  </div>
</header>
